In [1]:
import pandas as pd

In [2]:
file = pd.read_csv("Resources/cities.csv")

In [3]:
del file["Unnamed: 0"]

In [4]:
file.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Port Elizabeth,-33.92,25.57,60.80,100,81,4.70,ZA,1605733606
1,Tilichiki,60.47,166.10,2.48,93,100,4.36,RU,1605733606
2,Saint-Joseph,-21.37,55.62,66.02,69,75,17.22,RE,1605733606
3,Faanui,-16.48,-151.75,79.72,78,100,13.91,PF,1605733607
4,Avarua,-21.21,-159.78,78.80,83,100,11.41,CK,1605733590

In [5]:
file.to_html("cities.html")